<div class="container">
    <h2 class="center-boldtext">{content_caption}</h2>
    <p class="center-text"> {other_content}</p>
</div>
<div class="contact-form">
<form method="POST" action="login.php">
    <label>Логин</label>
    <input name="login" placeholder="Введите ваш логин">
    <label>Пароль</label>
    <input name="password" placeholder="Введите ваш пароль">
    <button type="submit" >Войти</button>
    <p class="help-info">Еще нет аккаунта? - <a class="help-link" href="registration.php">Зарегистрируйтесь</a></p>
    {status}
</form>
</div>