<div class="container">
    <h2 class="center-boldtext">{content_caption}</h2>
    <p class="center-text"> {other_content}</p>
</div>
<div class="contact-form">
    <form method="POST" action="mail.php">
        <input type="text" name="name" placeholder="Ваше имя" required>
        <input type="email" name="email" placeholder="Ваш Email" required>
        <div class="clear"> </div>
        <textarea name="review" placeholder="Введите ваше сообщение" required></textarea>
        <button class="btn">Отправить</button>
    </form>
</div>